<!DOCTYPE html>
<html lang="en">
@include('partials/head')
<body>
  @include('partials/header')
  <div class="container is-fluid">
      <main>
        <div>
          <h1 class="title"> Bem vindo! </h1>
          <p class="subtitle">
            Olá para {{ id }}
          </p>
        </div>
      </main>
  </div>
</body>
</html>
