.button {
    width: 280px;
    padding: 10px 40px;
    font-size: 18px;
    font-family: 'DM Sans';
    background-color: inherit;
    color: inherit;
    outline: none;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}